{
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "extends": [
    "eslint:recommended",
    "./base.yml"
  ],
  "globals": {
    "chrome": true
  },
  "env": {
    "browser": true,
    "es2021": true,
    "webextensions": true
  }
}
